
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <link href="~/Images/BackStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    


    <title>Index</title>
</head>
<body class="fondo">
    <h1 class="tx">Welcome To Our Final Proyect</h1>

         @Html.ActionLink("Ingresar","Home","Home", new { @class = "btn btn-outline-dark btn-lg btn-block" })

        <h4>Made By</h4>
        <h5>Gabriel Jimenez - 2015-2941</h5>
        <h5>Ivan Alejandro Polanco - 2017-4498</h5>

</body>

</html>
