
@{
                /**/

                ViewBag.Title = "Modulo de Mantenimiento";
}

<h2>Modulo de Mantenimiento</h2>
<br/>
@Html.Label("Pulsa para ir a una accion", new { @class = "control-label col-md-5" })

<a class="btn btn-outline-info btn-lg btn-block" href="Home/Home" role="button">Agregar Empleado</a>
<br/>
<a class="btn btn-outline-success btn-lg btn-block" href="Home/Home" role="button">Agregar Departamentos</a>
<br />
<a class="btn btn-outline-warning btn-lg btn-block" href="Home/Home" role="button">Agregar Cargo</a>
