@{
    ViewBag.Title = "Modulo de Informe";
}

<h2>Modulo de Informe</h2>


<br />
@Html.Label("Pulsa para ir a una accion", new { @class = "control-label col-md-5" })

<a class="btn btn-outline-info btn-lg btn-block" href="Home/Home" role="button">Informe de Nomina</a>
<br />
<a class="btn btn-outline-success btn-lg btn-block" href="Home/Home" role="button">Informe de Empleados Activos</a>
<br />
<a class="btn btn-outline-danger btn-lg btn-block" href="Home/Home" role="button">Informe de Empleados Inactivos</a>
<br />
<a class="btn btn-outline-success btn-lg btn-block" href="Home/Home" role="button">Informe de Departamentos</a>
<br />
<a class="btn btn-outline-dark btn-lg btn-block" href="Home/Home" role="button">Informe de Cargos</a>
<br />
<a class="btn btn-outline-warning btn-lg btn-block" href="Home/Home" role="button">Informe de Entrada de Empleados por Mes</a>
<br />
<a class="btn btn-outline-danger btn-lg btn-block" href="Home/Home" role="button">Informe de Salida de Empleados por Mes</a>
<br />
<a class="btn btn-outline-primary btn-lg btn-block" href="Home/Home" role="button">Historial de Permisos</a>
