
@{
                /**/

                ViewBag.Title = "Modulo de Mantenimiento";
}

<h2>Modulo de Mantenimiento</h2>
<br />
@Html.Label("Pulsa para ir a una accion", new { @class = "control-label col-md-5" })


@Html.ActionLink("Agregar Empleado", "Home", "Home",
new { @class = "btn btn-outline-info btn-lg btn-block" })
<br />

@Html.ActionLink("Agregar Departamentos", "Departamento", "Mantenimiento","Home",
new { @class = "btn btn-outline-success btn-lg btn-block" })
<br />
@Html.ActionLink("Agregar Cargo", "Cargo", "Mantenimiento", "Home" ,
new { @class = "btn btn-outline-warning btn-lg btn-block" })
